.texto-menor {
    font-size: 13px;
}
.div-facilidades{
    width: 325px;
}
.div-novedades{
    width: 325px;
    
}
@media (min-width: 768px) {
    
    .div-novedades{
        width: 696px;
    }
}

.color-amarillo{
    color:#DAFF01;
}

.color-lila{
    color:#A3A3A3;
}